<head>
	<style>
		tr:nth-child(even) {background: #CCC}
		tr:nth-child(odd) {background: #FFF}
	
		.monsterType{
			text-transform: capitalize;
		}
	</style>
</head>
<body>



	<!-- <form method="POST" action="/monsters">
		<select name="CR">
			{% for cr in uniqueCRs %}
				<option value="{{ cr }}">{{ cr }}</option>
			{% endfor %}
		</select>
		<input type="submit" name = "formaction" value="CR Select">
	</form> -->

	<form method="POST" action="/monsters">
		{{ form.csrf_token }}
		{{ form.sort.label }} {{ form.sort }}
		{{ form.cr.label }} {{ form.cr }}
		{{ form.Type.label }} {{ form.Type }}
		<input type="submit" name = "formaction" value="Sort">
	</form>

	<table width="50%" cellpadding="3" cellspacing="3">
		<tr>
			<th><h3>Monster</h3></th>
			<th><h3>CR</h3></th>
			<th><h3>Type</h3></th>
			<th><h3>Archive Link</h3></th>
		</tr>
		{% for monster in monsters %}
			<tr>
				<td>{{monster.name}}</td>
				<td>{{monster.cr}}</td>
				<td class="monsterType">{{monster.Type}}</td>
				<td><a href='https://aonprd.com/MonsterDisplay.aspx?ItemName={{monster.name}}'>Link</a></td>
			</tr>
		{% endfor %}
		</table>
</body>
